{% extends "mydramas/base.html" %}{% load static %}
{% block title %}Dashboard {% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock stylesheet %}
{% block js %}
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
{% endblock js %}
{% block body %}
{% include "mydramas/navbar.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-3 ww-tile">
            <div class="wrap-tile">
                <div class="tile">
                    <div>Dramas</div>
                    <div>{{ data.dramas }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 ww-tile">
            <div class="wrap-tile">
                <div class="tile">
                    <div>Favorites</div>
                    <div>{{ data.favorites }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 ww-tile">
            <div class="wrap-tile">
                <div class="tile">
                    <div>Episodes</div>
                    <div>{{ data.episodes }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 ww-tile">
            <div class="wrap-tile">
                <div class="tile">
                    <div>Watch Time</div>
                    <div>{{ data.duration }} days</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5"><div class="chart-container"><div id="fav-pie"></div></div></div>
        <div class="col-md-7"><div class="chart-container"><div id="fav-area"></div></div></div>
    </div>
    <div class="row">
        <div class="col-md-5"><div class="chart-container"><div id="net-pie1"></div></div></div>
        <div class="col-md-7"><div class="chart-container"><div id="net-line1"></div></div></div>
    </div>
    <div class="row">
        <div class="col-md-5"><div class="chart-container"><div id="net-pie2"></div></div></div>
        <div class="col-md-7"><div class="chart-container"><div id="net-line2"></div></div></div>
    </div>
    <div class="row">
        <div class="col-md-5"><div class="chart-container"><div id="rat-pie1"></div></div></div>
        <div class="col-md-7">
            <div class="chart-container">
                <select id="rat-histo1-select"onchange="selectDataset(this.options[this.selectedIndex].value);">
                </select>
                <div id="rat-histo1">
            </div></div></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="chart-container">
                <select id="rat-histo2-select"onchange="selectDataset2(this.options[this.selectedIndex].value);">
                </select>
                <div id="rat-histo2">
            </div></div></div>
    </div>
</div>
{% endblock body %}
{% block script %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock script %}