{% extends "mydramas/base.html" %}{% load static %}
{% load crispy_forms_tags %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Alex+Brush&display=swap" rel="stylesheet">
{% endblock stylesheet %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 title">
            <h1>Dramas</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 login">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-dark" type=submit>Login</button>
                </div>
            </form>
        </div>
    </div>    
</div>
{% endblock body %}