body {
  background-color: rgb(218, 245, 243);
  width: 100%;
  height: 100%;
}
.container {
  padding: 15px;
}
.ww-tile {
  padding-top: 5px;
  padding-bottom: 5px;
}
.wrap-tile {
  display: flex;
  justify-content: space-between;
  background-color: rgb(157, 238, 188);
  padding: 20px;
  border-radius: 3px;
}
.tile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
