{% extends "orders/base.html" %}{% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/users.css' %}" />
<script type="text/javascript">
  document.onreadystatechange = function () {
    //window.addEventListener('readystatechange',function(){...}); (for Netscape) and window.attachEvent('onreadystatechange',function(){...}); (for IE and Opera) also work
    if (document.readyState == "loaded" || document.readyState == "complete")
      alert("Username: admin\nPassword: admin");
  };
</script>
{% endblock %} {% load crispy_forms_tags %} {% block body %}
<div class="container">
  <div class="row login">
    <div class="col-md-6">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Login</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-light" type="submit">Login</button>
        </div>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted"
          >Need An Account?
          <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a></small
        >
      </div>
    </div>
  </div>
</div>
{% endblock body %}
