/* CSS for book.html */
*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #373b39;
    width: 100%;
    height: 100vh;
}

.body-book {
    display: flex;
    justify-content: center;
    align-content: center;
}

.book-main {
    position: relative;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.book-main .book-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
}

.book-main .book-box .imgbx {
    position: relative;
    width: 306px;
    height: 500px;
}

#img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#img2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.book-main .book-box .info-box {
    background-color: black;
    position: relative;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.book-main .book-box .info-box {
    padding-left: 30px;
}

.book-main .book-box .info-box .nobull {
    list-style-type: none;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.book-main .book-box .info-box li {
    list-style-type: none;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    margin: 15px;
}
.book-main .book-box .info-box .unknown {
    font-weight: 700;
}

.review-box {
    position: relative;
    background: rgb(115, 80, 46);
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.review-box .review-form {
    position: relative;
    background: rgb(191, 184, 136);
    width: 1000px;
    margin: 0 50px;
}

.review-box .review-form .user-review {
    position: relative;
    max-width: 1000px;
}

#review {
    position: relative;
    width: 880px;
    margin: 10px 10px;
    resize: none;
}

.review-box .review-card {
    background: rgb(236, 224, 143);
    position: relative;
    width: 1000px;
    margin: 5px 50px;
    padding: 20px;
}

.review-box .review-card .reviewer {
    margin: 10px 5px;
}

.review-box .review-card .review-text {
    text-align: justify;
}

/* CSS for the stars in reviews */
:root {
  --star-size: 60px;
  --star-color: #fff;
  --star-background: #fc0;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
