* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background: linear-gradient(135deg, #7fa090, #dcc173);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-weight: 600;
}
span{
    font-size: 20px;
}

.h-box {
    padding: 25px;
    color: #e1fbef;
}

th {
    background: #343a40;
}
