<link rel="stylesheet" href="../style/card.css">


<div class='card-wrapper'>
        <div class='card'>
            <div class='layer'>
                <ul class="nobull">
                    <li class="card-entry">Title: Memoirs of a Geisha</li>
                    <li class="card-entry">Author: Arthur Golden</li>
                    <li class="card-entry">ISBN: 1400096898</li>
                    <li class="card-entry">Published: 2005</li>
                    <li class="card-entry">Libreria: #reviews #rating</li>
                    <li class="card-entry">Your Rating:</li>
                    <li class="card-entry">Goodreads: 1624247 ratings 4.11 stars</li>
                </ul>
                <div class='corner'></div>
                <div class='corner'></div>
                <div class='corner'></div>
                <div class='corner'></div>
            </div>
        </div>
</div>
