{% extends 'base.html' %}

{% block stylesheet %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/logout.css') }}">{% endblock %}

{% block body %}
<body class="body">
    <div class="content">
        <div>
        <svg class="spinner" width="35px" height="35px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
        <p>Logging you out</p>
        </div>
        <p id='farewell'>Farewell!</p>
    </div>

</body>
{% endblock %}
