{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/message.css') }}">{% endblock %}

{% block body %}
{% include 'navbar.html' %}
<div class="message-main">
    {% if message == 1 %}
    <h1>Review Submitted.</h1>
    <p>Your review for, <a href="{{ url_for('book', bookid=book.id) }}">{{ book.title }}</a> has been submitted!</p>
    {% else %}
    <h1>Review not submitted.</h1>
    <p>You have already submitted a review for, <a href="{{ url_for('book', bookid=book.id) }}">{{ book.title }}</a>.</p>
    {% endif %}
</div>

{% endblock %}
