{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/reviews.css') }}">{% endblock %}

{% block body %}
{% include 'navbar.html' %}
<div>
<h1>{{ current_user.username }}'s reviews:</h1>
</div>
{% for book, review in reviews %}
<div class="rev-box">
    <div class="blog-post">
        <div class="blog-post-img">
            <img src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg" alt="">
        </div>
        <div class="blog-post-info">
            <div class="blog-post-rating">
                <span>rating:</span>
                <span>{{ review.rating }} / 5</span>
            </div>
            <h1 class="blog-post-title"><a href="{{ url_for('book', bookid=book.id) }}">{{ book.title }}</a></h1>
            <p class="blog-post">
                {{ review.review }}
            </p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
