{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/reviews.css') }}">{% endblock %}

{% block body %}
{% include 'navbar.html' %}

<div class="review-main">
    <div class="reviews">
        {% for review in reviews %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a href="" class="mr-2">{{ current_user.username }}</a>
                    <small class="text-muted">{{ review.rating }}</small>
                </div>
                <p class="article-content">{{ review.review }}</p>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}
