{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">{% endblock %}

{% block body %}
{% include 'navbar.html' %}
<div><img src="{{ url_for('static', filename='images/pantheon-s.png') }}"></div>
<form class="form-inline mx-auto" method="POST" action="">
    {{ form.hidden_tag() }}
    <div>
        {% if form.search.errors %}
        {{ form.search(class="form-control is-invalid") }}
        <div>
            {% for error in form.search.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.search(class="form-control") }}
        {% endif %}
        {{ form.type(class="custom-select", id="search-type") }}
        {{ form.submit(class="btn btn-light") }}
    </div>
</form>
{% endblock %}
