<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <title>Flack</title>
  </head>
  <body>
    <!-- Main Container (sidebar + main section) -->
    <div class="container">
      <!-- Sidebar Container -->
      <div class="sidebar">
        <div class="side-user">
          <span id="username"></span>
          <button class="logout">Logout</button>
        </div>
        <div class="side-create">
          <input type="text" placeholder="New channel name"></input>
          <button class="create">Create</button>
        </div>
        <!-- Channel List -->
        <div class="side-clist">
          <ul>Channels
            {% for room in rooms %}
              <li>{{ room }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- Main chat section Container -->
      <div class="chat-main">
        <!-- Chatroom Title -->
        <h1>Current Chatroom Name</h1>
        <!-- Chat Area -->
        <div class="chat">
          <ul>
            <div class="message">
              <div class="msg-info">Username <span class="time"> - 28-01-2020 - 14:00</span></div>
              <div class="msg-body">This is a test message!</div class="msg-body">
            </div>
            <!-- chat messages list -->
          </ul>
        </div>
        <!-- Chat Input -->
        <div class="chat-input">
          <input type="text" id="msgsend" placeholder="Type here!"></input>
          <button class="send" id="btnsend">Send</button>
        </div>
      </div>
    </div>
    
    
  </body>
</html>
